<p id="notice"><%= notice %></p>

<h1>Listing Homeworks</h1>

<table>
  <thead>
    <tr>
      <th>Homework</th>
      <th>Description</th>
      <th>Subject</th>
      <th>Assigned by</th>
      <th>Assigned in</th>
      <th>Assigned for</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unofficials.each do |unofficial| %>
      <tr>
        <td><%= unofficial.homework %></td>
        <td><%= unofficial.description %></td>
        <td><%= unofficial.subject %></td>
        <td><%= unofficial.assigned_by %></td>
        <td><%= unofficial.assigned_in %></td>
        <td><%= unofficial.assigned_for %></td>
        <td><%= link_to 'Show', unofficial %></td>
        <td><%= link_to 'Edit', edit_unofficial_path(unofficial) %></td>
        <td><%= link_to 'Destroy', unofficial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homework', new_unofficial_path %>
